$secondary: #7994d6;

.nav-toggle {
  position: fixed;
  width: auto;
  top: 5px;
  right: 10px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.2s;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 200px;
  background: rgba(40, 40, 100, 1);
  color: white;
  margin: 0;
  padding: 1rem;
  transition: display 0.3s ease-in-out;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.navbar li {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
  transition: all ease 0.2s;
}

.navbar li:hover {
  color: $secondary;
  transform: scale(1.2);
}

.slide-enter-active, .slide-leave-active {
  transition: transform 0.3s ease;
}

.slide-enter-from, .slide-leave-to {
  transform: translateX(100%);
}

.slide-enter-to, .slide-leave-from {
  transform: translateX(0);
}

@media screen and (max-width: 800px) {
  .navbar {
    top: 0;
    width: 100%;
    height: auto;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin: 0 2rem;
  }

  .navbar li:hover {
    color: $secondary;
    transform: scale(1);
  }
}